/*
 * GLOBAL
 */

body {
  font-size: 1rem;
  color: #404040;
  line-height: 1.75;
  font-family: 'Raleway', sans-serif;
}

label {
  font-weight: 700;
}

.google-map {
  height: 400px;
  width: 100%;
}

input, textarea {
  border-radius: 0 !important;
}

a, a:hover {
  color: inherit;
}

/* 
 * HELPER CLASSES
 */

.special-title-1 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #007bff;
}

.special-title-2 {
  font-family: 'Great Vibes', cursive;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

/*
 * NAVBAR
 */

.navbar {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

/*
 * COVER
 */

.cover {
  height: 100vh;
}

.cover .carousel-inner {
  height: 100vh;
}

.cover .carousel-item {
  height: 100vh;
  background-color: #777;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1 {
  margin-top: 3.5rem;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/1.jpg");
}

.slide-2 {
  margin-top: 3.5rem;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/2.jpg");
}

.slide-3 {
  margin-top: 3.5rem;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/3.jpg");
}

.slide-4 {
  margin-top: 3.5rem;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/4.jpg");
}

.cover .carousel-caption {
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
}

.brand-title {
  font-family: 'Poiret One', cursive;
  letter-spacing: .5rem;
  font-size: 3rem;
  text-align: center;
}

.brand-description {
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
}

/*
 * HOMEPAGE-MENU
 */
.homepage-menu {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.homepage-menu-description {
  margin-top: 2rem;
}

.homepage-deserts, .homepage-drinks {
  margin-top: 4rem;
}

/* 
 * HOMEPAGE-ABOUT-US
 */

.homepage-about-us {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/about-us.jpg");
}

.homepage-about-us-description {
  max-width: 50em;
  margin-bottom: 4rem;
}

/* 
 * HONEPAGE-SPECIAL-OFFERS
 */

.homepage-special-offers {
  padding-top: 4rem;
}

.card-2, .card-3 {
  margin-top: 2rem;
}

/* 
 * HOMEPAGE-TESTIMONIALS
 */

.homepage-testimonials {
  padding: 4rem 0;
}

.homepage-testimonials-carousel {
  max-width: 100%;
  margin: 0 auto;
}

.homepage-testimonials blockquote {
  max-width: 65%;
  margin: 2rem auto 0 auto;
}

.homepage-testimonials blockquote p {
  color: #404040;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #404040;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 30px;
  color: #404040;
}

/* 
 * FOOTER
 */

.page-footer {  
  color: rgba(255,255,255,0.5);
  padding-top: 4rem;
  font-size: 0.75rem;
  text-align: center;
}

.page-footer > .container {
  padding-bottom: 4rem;
}

.page-footer .row {
  padding-top: 4rem;
}

.page-footer-title {
  font-size: .75rem;
  font-weight: 700;
  color: rgba(255,255,255,1);
  margin-bottom: 1rem;
}

.border-left-custom {
  border-left: none;
}

.page-footer-copyright {
  background: #364859;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-footer a {
  text-decoration: underline;
}

.page-footer a:hover {
  text-decoration: none;
}

/* 
 * SOCIAL ICONS
 */

.fa-social {
  font-size: 1em !important;
  line-height: 30px !important;
  color: rgba(255, 255, 255, 0.8);
  width: 30px;
  height: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: #007bff;
  border-radius: 50%;
}

.fa-social:hover, .fa-social:active { 
  transform: scale(1.1) rotate(360deg);
  color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 3px #333; 
}

/* 
 * ABOUT
 */

.fa-arrow-down {
  background-color: transparent;
  background-image: none;
  border: 1px solid #f8f9fa;
  display: inline-block;
  font-size: 1.5em !important;
  line-height: 50px !important;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.fa-arrow-down:hover, .fa-arrow-down:active { 
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.about-jumbotron {
  border-radius: 0;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 0;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #777;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/about.jpg");
}

.about-jumbotron h2 {
  margin-bottom: .5rem;
}

.about-history {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-history-title h3, .about-job-openings-title h3 {
  margin-bottom: 1rem;
  color: #007bff;
}

.about-history-title p, .about-job-openings-title p {
  font-size: 2rem;
}

.about-horizontal-rule {
  margin-top: 0;
  margin-bottom: 0;
}

.about-job-openings {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* 
 * RESERVATIONS
 */

.reservations-description {
  text-align: center;
  margin-top: 3.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 50em;
}

.reservations-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #777;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/reservations.jpg");
}

.reservations-form ::placeholder {
  color: #d9d9d9 !important;
}

.reservations-form form {
  max-width: 50em;
  margin: 0 auto;
}

.reservations-form label {
  color: white;
}

.reservations-form input, .reservations-form textarea {
  background: none !important;
  border: 3px solid white !important;
  color: #d9d9d9 !important;
}
 
/* 
 * CONTACT
 */

.contact-directions {
  text-align: center;
  margin-top: 3.5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 50em;
}

.contact-directions > dl > dt:nth-child(3) {
  margin-top: 2rem;
}

.contact-horizontal-rule {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-information {
  max-width: 50em;
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact-form ::placeholder {
  color: #262626 !important;
}

.contact-form label {
  color: black;
}

.contact-form input, .contact-form textarea {
  background: none !important;
  border: 3px solid black !important;
}

.contact-details {
  border: none;
  margin-top: 2rem;
}

.contact-details h6 {
  font-weight: 700;
}

/*
 * FOOD MENU
 */

.food-jumbotron {
  border-radius: 0;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #777;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/food-menu.jpg");
}

.food-jumbotron .row {
  max-width: 50em;
}

.food-jumbotron h1 {
  margin-bottom: 0;
}

.food-descriptions {
  max-width: 50em;
}

.food-category {
  padding-top: 4rem;
}

.food-category h2 {
  margin-bottom: 2rem;
}

.food-item {
  padding: 2rem 0;
}

.food-image {
  margin-bottom: 2rem;
  text-align: center;
}

.food-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.food-title:before {
  position: absolute;
  top: 8px;
  left: 20px;
  right: 20px;
  height: 1px;
  border-top: 2px dotted rgba(0,0,0,0.5);
  display: block;
  content: '';
}

.food-name {
  position: relative;
  padding-right: 15px;
  background: #fff;
}

.food-price {
  position: relative;
  padding-left: 15px;
  background: #fff;
}

.food-ingredients {
  margin-bottom: 0;
}

.food-horizontal-rule {
  margin: 0;
}

/*
 * DRINKS MENU
 */

.drinks-jumbotron {
  border-radius: 0;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #777;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../media/drinks-menu.jpg");
}

.drinks-jumbotron .row {
  max-width: 50em;
}

.drinks-jumbotron h1 {
  margin-bottom: 0;
}

.drinks-descriptions {
  max-width: 50em;
}

.drink-category {
  padding-top: 4rem;
}

.drink-category h2 {
  margin-bottom: 2rem;
}

.drink-item {
  padding: 2rem 0;
  position: relative;
}

.drink-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.drink-title:before {
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
  height: 1px;
  border-top: 2px dotted rgba(0,0,0,0.5);
  display: block;
  content: '';
}

.drink-name {
  position: relative;
  padding-right: 15px;
  background: #fff;
}

.drink-price {
  position: relative;
  padding-left: 15px;
  background: #fff;
}

.drink-ingredients {
  margin-bottom: 0;
}

.drink-horizontal-rule {
  margin: 0;
}

/* ANIMATIONS

.deserts {
  animation-delay: .25s;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-iteration-count: infinite;
}

.drinks {
  animation-delay: .5s;
}

.about-us-animation h3 {
  animation-delay: .25s;
}

.about-us-animation p {
  animation-delay: .5s;
}

.about-us-animation a {
  animation-delay: .75s;
}

.special-offers-animation h3 {
  animation-delay: .25s;
}

#card-1 {
  animation-delay: .5s;
}

#card-2 {
  animation-delay: .75s;
}

#card-3 {
  animation-delay: 1s;
}

.testimonials-animation h3 {
  animation-delay: .25s;
}

.test-carousel {
  animation-delay: .5s;
}

.reservations h3 {
  animation-delay: .25s;
}

.reservations p {
  animation-delay: .5s;
}
*/

/*
 * MEDIA QUERIES
 */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
  .cover h1 {
    letter-spacing: 1rem;
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .deserts, .drinks, .contact-details {
    margin-top: 0;
  }
  .contact-details {
    border-left: 1px solid rgba(0,0,0,.1);
  }
  .border-left-custom {
    border-left: 1px solid rgba(255,255,255,0.1) !important;
  }
  .page-footer {
    text-align: left;
  }
  .footer-title-h5::before {
    content: '';
    display: block;
    width: 30px;
    border-top: 3px solid #007bff;
    margin-bottom: .5rem;
  }
  .page-footer .row {
    padding-left: initial;
    padding-right: initial;
  }
  .food-jumbotron h1 {
    margin-bottom: 2rem;
  }
  .food-image {
    margin-bottom: 0;
  }
  .drinks-jumbotron h1 {
    margin-bottom: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
