/*
 * GLOBAL
 */

html {
  font-size: 12px;
}

body {
  font-size: 1rem;
}

a:hover {
 text-decoration: none;
}

/*
 * HELPER CLASSES
 */

.font-family-1 {
  font-family: 'Raleway', sans-serif;
}

.font-family-2 {
  font-family: 'Great Vibes', cursive;
}

.special-title-1 {
  font-size: 1rem;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 2rem;
  font-weight: 700;
  color: #007bff;
}

.special-title-2 {
  font-size: 3rem;
  font-family: 'Great Vibes', cursive;
}

/*
 * NAVBAR
 */

.navbar {
  -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
  letter-spacing: .2rem;
}

/*
 * MAIN
 */

main::after {
  content: '';
  background-image: url(../media/pattern.png);
  position: absolute;
  width: 100%;
  height: 32px;
  bottom: -5px;
}

/*
 * COVER
 */

.cover {
  height: 100vh;
}

.cover .carousel-inner {
  height: 100%;
}

.cover .carousel-item {
  height: 100%;
  background-color: #777;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1 {
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../media/1.jpg");
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/1.jpg");
  background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/1.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/1.jpg");
}

.slide-2 {
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../media/2.jpg");
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/2.jpg");
  background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/2.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/2.jpg");
}

.slide-3 {
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../media/3.jpg");
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/3.jpg");
  background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/3.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/3.jpg");
}

.slide-4 {
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../media/4.jpg");
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/4.jpg");
  background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/4.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/4.jpg");
}

.cover .carousel-caption {
  bottom: initial;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.textual-brand {
  font-family: 'Poiret One', cursive;
  letter-spacing: .5rem;
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c;
}

/*
 * ABOUT US
 */

.about-us {
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../media/about-us.jpg");
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/about-us.jpg");
  background-image: -o-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/about-us.jpg");
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/about-us.jpg");
}

.about-us p {
  max-width: 600px;
}

/*
 * TESTIMONIALS
 */

.testimonials {
  background: #eee;
}

.testimonials .carousel-inner {
  min-height: 350px;
}

.testimonials .carousel-item {
  overflow: hidden;
  min-height: 350px;
}

.testimonials .carousel-caption {
  bottom: initial;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.fa-angle-left, .fa-angle-right {
  color: #000;
  font-size: 48px !important;
}

/*
 * MEDIA QUERIES
 */

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
  .cover h1 {
    letter-spacing: 1rem;
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
